<h1>Records Locked</h1>

<p>Hi <%= @account.name %>,</p>

<p>Your payment is still outstanding. New records are now being stored but locked until payment is received.</p>

<p>Your locked records will be restored once your payment is processed.</p>

<p>
  <%= link_to "Update Payment Method", portal_account_billing_url %>
</p>

<p>
  Thanks,<br>
  The multibuzz Team
</p>
