<h1>Events Restored</h1>

<p>Hi <%= @account.name %>,</p>

<p>Great news! Your payment has been received and all your locked events have been restored.</p>

<p>Your attribution data is being recalculated to include the previously locked events.</p>

<p>
  <%= link_to "View Dashboard", dashboard_url %>
</p>

<p>
  Thanks,<br>
  The multibuzz Team
</p>
