<h1>Payment Failed</h1>

<p>Hi <%= @account.name %>,</p>

<p>We were unable to process your payment. Please update your payment method to continue using mbuzz.</p>

<p>Your records will continue to be tracked for the next 3 days. After that, new records will be stored but locked until payment is received.</p>

<p>
  <%= link_to "Update Payment Method", portal_account_billing_url %>
</p>

<p>If you have any questions, please reply to this email.</p>

<p>
  Thanks,<br>
  The mbuzz Team
</p>
