<h1>Payment Successful</h1>

<p>Hi <%= @account.name %>,</p>

<p>Your payment has been processed successfully. Thank you for your continued support!</p>

<p>
  <%= link_to "View Dashboard", dashboard_url %>
</p>

<p>
  Thanks,<br>
  The mbuzz Team
</p>
