<%= turbo_stream_from "export_#{@export.prefix_id}" %>

<div class="min-h-[60vh] flex items-center justify-center">
  <div id="export-status" class="text-center max-w-sm">
    <% if @export.completed? %>
      <%= render "dashboard/exports/download_ready", export: @export %>
    <% elsif @export.failed? %>
      <%= render "dashboard/exports/failed" %>
    <% else %>
      <%= render "dashboard/exports/processing_status" %>
    <% end %>
  </div>
</div>
