<div class="min-h-screen bg-gray-100">
  <%= render "layouts/nav" %>
  <%= render "demo/dashboard/demo_badge" %>

  <div class="py-6">
    <main>
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <%= render "demo/dashboard/tabs" %>
        <%= render "demo/dashboard/cta_banner" %>
      </div>
    </main>
  </div>
</div>
