<%= turbo_stream_from "onboarding_#{current_account.prefix_id}" %>

<div class="min-h-screen bg-gray-50 py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-2xl">
    <% if @guided_setup&.in_progress? %>
      <%= render "confirmation_in_progress",
        guided_setup: @guided_setup,
        draft: @scheduling_draft,
        error: @scheduling_error %>
    <% else %>
      <%= render "confirmation_processing" %>
    <% end %>
  </div>
</div>
