/*
 * Application Stylesheet Manifest
 *
 * With Propshaft, @import is not supported.
 * Include individual CSS files in app/views/layouts/application.html.erb instead.
 *
 * Structure follows ITCSS (Inverted Triangle CSS):
 * 1. Configuration & Variables
 * 2. Base Styles
 * 3. Components
 * 4. Pages
 * 5. Utilities
 *
 * Load order in layout:
 * - utilities/animations
 * - utilities/backgrounds
 * - components/cards
 * - components/features
 * - components/icons
 * - pages/home
 */
