<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "mbuzz" %></title>
    <%= render "layouts/head" %>
    <%= yield :head %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
